<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ExecutablePath" value="Program.exe" />
    <add key="LaunchArguments" value="" />
    <add key="WaitTime" value="0" />
  </appSettings>
</configuration>